<!DOCTYPE html>
<html>
  <head>
    <title>Perfect</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,
      initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header", user: current_user %>
    <div class="container my-3">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
