<!DOCTYPE html>
<html>
  <head>
    <title>Perfect</title>
    <%= csrf_meta_tags %>
<<<<<<< 343fb0913e78c4e1510df2a33df6f27ceea9a629

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
=======
>>>>>>> CRUD product
  </head>

  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <%= yield %>
<<<<<<< 343fb0913e78c4e1510df2a33df6f27ceea9a629
      <%= render "layouts/footer" %>
=======
>>>>>>> CRUD product
    </div>
  </body>
</html>
